.card {
    color: white;
    border: none;
    height: 350px;
    width: 400px;
    margin-top: 325px;
    padding: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to bottom right, #347deb, whitesmoke);
}

#responsive {
    width: 80%;
    max-width: 400px;
    height: auto;
  }