.avatar {
    width: 200px;
    height: 175px;
    border-radius: 50%;
  }

#profile-pic {
    margin: 20px;
}

.account-con {
  margin: 20px
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 4px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .responsive {
    width: 80%;
    max-width: 400px;
    height: auto;
  }