.avatar {
    width: 200px;
    height: 175px;
    border-radius: 50%;
  }

#profile-pic {
    margin: 20px;
}

.account-con {
    margin: 10px;
}

.col-sm {
    margin-top: 25px;
    margin-left: 25px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }