.card {
  color: white;
  border: none;

  width: 500px;

  padding: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to bottom right, #347deb, whitesmoke);
}

a {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

#responsive {
  width: 80%;
  max-width: 500px;
  height: auto;
}


 /* Phone */
 @media screen and (min-device-width: 1px) and (max-device-width: 736px) {
  body{
    background-image: url(https://images.pexels.com/photos/466685/pexels-photo-466685.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    height: 860px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Tablet */
@media screen and (min-device-width: 737px) and (max-device-width: 1024px) {
  body{
    background-image: url(https://images.pexels.com/photos/466685/pexels-photo-466685.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    height: 1100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Laptop */
@media screen and (min-device-width: 1025px) and (max-device-width: 1600px) {
  body{
    background-image: url(https://images.pexels.com/photos/466685/pexels-photo-466685.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}