<body>
    <div class="card">
        <div style="text-align: center;">
            <h1>Welcome to Hotspots!</h1>
            <br>
            <h3>Explore New York City:</h3>
            <input type="text" class="form-control" placeholder="Restaurant, Bar, Park, Museum, etc." name="hotspotsearch">
            <br>
            <button class="mb-3 btn btn-primary" type="submit">Search</button>
            <br>
            <br>
            <div>Already a user? Login <a routerLink="/login">here</a></div>
            <div>Not a user? Sign up <a routerLink="/signup">here</a></div>
        </div>
    </div>
</body>