<body style="text-align: center;">
    <h1>Sign Up for Hotspots!</h1>
<br>
<form (ngSubmit) = "createNew()">
    <label></label>
    <input type="text" name="firstName" placeholder="First Name" [(ngModel)] = "newUser.first_name">
    <br><br>
    <label></label> 
    <input type="text" name="lastName" placeholder="Last Name" [(ngModel)] = "newUser.last_name">
    <br><br>
    <label></label>
    <input type="text" name="Username" placeholder="Username" [(ngModel)] = "newUser.username">
    <br><br>
    <label></label>
    <input type="text" name="Email" placeholder="Email" [(ngModel)] = "newUser.email">
    <br><br>
    <label></label>
    <input type="text" name="Password" placeholder="Password" [(ngModel)] = "newUser.password">
    <br><br>
    <button type="submit">Create Account</button>
</form>
</body>