<body style="text-align: center;">
    <h1>Sign Up for Hotspots!</h1>
<br>
<form (ngSubmit) = "createNew()">
    <label></label>
    <input type="text" name="firstName" placeholder="First Name" [(ngModel)] = "newUser.FirstName">
    <br><br>
    <label></label> 
    <input type="text" name="lastName" placeholder="Last Name" [(ngModel)] = "newUser.LastName">
    <br><br>
    <label></label>
    <input type="text" name="Username" placeholder="Username" [(ngModel)] = "newUser.Username">
    <br><br>
    <label></label>
    <input type="text" name="Email" placeholder="Email" [(ngModel)] = "newUser.Email">
    <br><br>
    <label></label>
    <input type="text" name="Password" placeholder="Password" [(ngModel)] = "newUser.Password">
    <br><br>
    <button type="submit">Create Account</button>
</form>
</body>