<body style="text-align: center;">
    <div class="card">
        <h1>Sign Up for Hotspots!</h1>
        <form (ngSubmit)="createNew()">
            <label></label>
            <input type="text" class="form-control" name="firstName" placeholder="First Name" [(ngModel)]="newUser.FirstName">
            <label></label>
            <input type="text" class="form-control" name="lastName" placeholder="Last Name" [(ngModel)]="newUser.LastName">
            <label></label>
            <input type="text" class="form-control" name="Username" placeholder="Username" [(ngModel)]="newUser.Username">
            <label></label>
            <input type="text" class="form-control" name="Email" placeholder="Email" [(ngModel)]="newUser.Email">
            <label></label>
            <input type="text" class="form-control" name="Password" placeholder="Password" [(ngModel)]="newUser.Password">
            <button class="mt-3 mb-3 btn btn-primary" type="submit">Create Account</button>
            <div>Already a user? Login <a routerLink="/login">here</a></div>
        </form>
    </div>
</body>