/* You can add global styles to this file, and also import other style files */

/* .responsive {
    width: 50%;
    max-width: 400px;
    height: auto;
} */

 /* Phone */
 /* @media screen and (min-device-width: 1px) and (max-device-width: 736px) {
    body{
        background-color: red;
    }
    .col {
        flex: 100%;
        max-width: 100%;
    }
} */
 
/* Tablet */
/* @media screen and (min-device-width: 737px) and (max-device-width: 1024px) {
    body{
        background-color: blue;
    }
    .col {
        flex: 35%;
        max-width: 35%;
      }
} */

/* Laptop */
/* @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) {
    body{
        background-color: green;
    }
} */